/**
 * 公共
 */
body {
    font-size: 1.4rem;
    color: #333;
}
.red {
    color: #f13437;
}

.orange {
    color: orange;
}

.gray {
    color: #A2A1A1;
}

.gray-more {
    color: #666;
}

.gray-dark {
    color: #666;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link,a:hover{
    /*color: #fff;*/
}
a:hover, a:focus {
    color: inherit;
}
/*.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
}

.display-flex{
    display: flex;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
input,button{
   
    border-color:transparent;
    -webkit-appearance: none;
}
label {
    font-weight: normal;
}

img {
    width: 100%;
}
.clear{clear: both;}
.tl-ellipsis,/* 单行 */
.tl-ellipsis-2 { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}
 /* 两行 */
.tl-ellipsis-2{ -webkit-line-clamp: 2;}

[class*=am-u-] {
    padding: 0 10px;
}
.am-header-default .am-header-title {
    color: #fff;
    margin: 0 20%;
}
.am-header-default .am-header-nav>a {
    color: #333;
    font-size: 1.8rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.bg-gray {
    background-color: #eee;
}

.bg-white {
    background-color: #fff;
}

.am-modal-actions-group {
    margin: 0;
}

.am-btn-secondary {
    background-color: #f13437;
    border-color: #f13437;
    line-height: 25px;
}

.am-modal-actions {
    text-align: left;
}

.am-list>li {
    border-bottom: 1px solid #efefef;
}

::-webkit-input-placeholder {
    font-size: 1.4rem;
    color: #999;
}

.font-16 {
    font-size: 16px;
}

.icon-right{
       background: url(../img/icon/ic-right.png) center right no-repeat;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-size: 100%;
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
    .login-note,
    .footer .download {
        font-size: 1.2rem !important;
        padding: 0 7px !important;
        line-height: 27px !important;
    }
    .footer img {
        width: 65px !important;
        margin: 2px 2px 0 -10px !important;
    }
}

@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2) {}

@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2) {}


    .am-tabs-d2 .am-tabs-nav{
         border-bottom: 1px solid #ddd;
       }
       [data-am-widget=tabs] .am-tabs-nav a {
            display: initial;
      
    }
       .am-tabs-d2 .am-tabs-nav>.am-active {
            border-bottom-color: #f13437;
            border: 0;
        }
       .am-tabs-d2 .am-tabs-nav>.am-active a {
            color: #f13437;
                border-bottom: 1px solid #f13437;
            padding: 12px;
        }

.am-slider-default .am-control-nav{
    bottom:15px;
}
.am-slider-default .am-control-nav li a.am-active{
       background-color: #f13437;
}
.am-slider .am-slides img {
    display: block;
    width: 100vw;
    height: 100vw;
}
/**
 * 登录
 */

.login {
	position: relative;
 	
    background: url(../img/login-bg.png) center  no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.login .am-navbar{
    position: absolute;
    border-bottom:0;
    width: 100%;
    bottom: 0;
      /* display: flex;*/
   
}
.login::-webkit-input-placeholder {
    font-size: 18px;
}

.login-container {

    padding-top: 25px;
  height: 100%;
	position: relative;

   
}

.logo {
    margin-bottom: 30px;
    width: 80px;
    height: auto;
}

.login-container .am-form input{
	padding: 15px 10px !important;
}

.am-header {
    border-bottom: 1px solid #efefef;
}

.am-header-default {
    background-color: #fff;
}

.am-header-default .am-header-title a {
    color: #4F4E4E;
}

.login-note{
	margin-bottom: 0;
}
.am-form {
    width: 85%;
}

.am-form-group {
    margin-bottom: 2em;
    position: relative;
}


.am-form input {
    line-height: 0;
    padding: 15px 5px !important;
    border-radius: 5px !important;
    border-color: #efefef !important;
    font-size: 16px;
}

.am-btn-danger {
    border-radius: 5px;
    background: #f13437;
  
    font-size: 17px;
}

.login-btn-container {
    margin-bottom: 10px;
}

.get-code {
position: absolute;
    top: 1px;
    right: 0px;
    width: 10rem;
    height: 95%;
    text-align: center;
    /* display: flex; */
    background: #f13437;
    color: #fff;
    border-radius: 0 5px 5px 0;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    border: 0;
}
.get-code:disabled{
	background: #9c9c9c;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 63px;
    line-height: 63px;
    color: #fff;
    justify-content: flex-start;
}

.footer img {
    width: 70px;
    margin: 2px 2px 0 -5px;
}

.footer-des {
    margin-top: 8px;
    margin-left: -8px;
    align-items: flex-start;
    padding: 0;
}

.footer-des div {
    line-height: 25px;
   
}
.footer-des p{
	
	line-height: 25px;
	height: 25px;
	width: 100%;
	margin: 0;
}
 .load-wrap{
	padding: 0 !important;
   
    float: right;
}
.footer .download {
    display: inline-block;
    border: 1px solid #f13437;
    padding: 0 10px;
    line-height: 34px;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    color: #f13437;
}

.text-overflow-2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}


/*底部下载条*/
.download-bar{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 63px;
    line-height: 63px;
    z-index: 1010;
    color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	display: -webkit-box;
}
.download-bar .close-box{
	display: -webkit-box;
	width: 30px;
	background: #666666;
	-webkit-box-pack: center;
}
.download-bar .close-box img{
	width: 14px;
}
.download-bar .bar-content{
	display: -webkit-box;
	    -webkit-box-flex: 1;
	    width: 100%;
	padding: 0 15px;
	-webkit-box-orient: horizontal;
	 
}
.download-bar .bar-content .logo-box{
	width: 45px;
}
.download-bar .bar-content img{
	width: 45px;
}
.download-bar .bar-content .bar-desc{
		    padding-left: 12.5px;
		font-size: 13px;
	    display: -webkit-box;
	        -webkit-box-flex: 1;
	        -webkit-box-orient: horizontal;
	            -webkit-box-align: center;
	    line-height: 20px;
	    -webkit-box-pack: justify;
	   
}
.download-bar .bar-content a{
	color: #f13437;
    border: 1px solid #f13537;
    border-radius: 4px;
    padding: 5px 11px;
    font-size: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
	.download-bar{
		
	    height: 58px;
	    line-height: 58px;
	
	}
	.download-bar .close-box{
		
		width: 25px;
		background: #666666;
	}
	.download-bar .close-box img{
		width: 12px;
	}
	.download-bar .bar-content{
		
		padding: 0 10px;
		 
	}
	.download-bar .bar-content .logo-box{
		width: 40px;
		display: -webkit-box;
	}
	.download-bar .bar-content img{
		width: 40px;
		
	}
	.download-bar .bar-content .bar-desc{
			display: -webkit-box;
			
			font-size: 12px;
		        padding-left: 10px;
		    line-height: 20px;
		  width: 100%;
		    
	}
	.download-bar .bar-content a{
		color: #f13437;
	   
	    border-radius: 4px;
	    padding: 4px 8px;
	    font-size: 13px;
	}
}


/**
 * 店铺主页
 */
.index {
    margin-bottom: 10px !important;
}
.index a{
    color: #333;
}
.store-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}

.am-tabs-bd {
    background-color: #eeeeee;
    border: 0
}

[data-am-widget=tabs] {
    margin: 0;
}

.am-tabs-d2 .am-tabs-nav a {
    color: #333;
}

.am-tabs-d2 .am-tabs-nav>.am-active a {
    color: #f13437;
}

.am-tabs-d2 .am-tabs-nav,
.am-tabs-d2 .am-tabs-nav>.am-active {
    background-color: #fff;
}

.am-tabs-d2 .am-tabs-nav>.am-active:after,
.am-tabs-d2 .am-tabs-nav>.am-active {
    border-bottom-color: #f13437;
}
.am-tabs-d2 .am-tabs-nav>.am-active:after {
   
    border: 0;
  
}
.am-tabs-bd .am-tab-panel {
    padding: 0;
}

.share {
    margin: 10px 0 0 10px;
}

.pro-container {
    // display: flex;
    // background-color: #eee;
    // flex-wrap: wrap;
    // margin-bottom: 20px;
}

.store-title {
    margin-left: -5px;
    font-size: 15px;
    padding: 0;
    display: inline-block;
}

.pro-container .pro-box {
    /*background-color: #fff;
    border: 3px solid #ddd;
   
    padding: 0;*/
       background-color: #eeeeee;
    /* border: 3px solid #ddd; */
    padding: 0 ;
    margin-bottom: 6px;
    margin-top: 0px;
}

.pro-cate {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    background: #fff;
    text-align: center;
}

.pro-container .pro-box:nth-child(even) {
    border-right: none;
    padding-left: 3px;
}

.pro-container .pro-box:nth-child(odd) {
    border-left: none;
    padding-right: 3px;
}

.pro-container .pro-box-txt {
    padding: 5px 5px 5px;
    color: #333;
    background: #fff;
}


/**
 * 商品详情
 */
.share-f{
    font-size: 11px;
}
.pro-detail-container {
    margin-bottom: 10px;
    background: #FFFFFF;
}

.pro-detail-container .pro-detail-item:first-child {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.pro-detail-item {
    padding: 5px 0;
    border-bottom: 6px solid #eee;
}

.pro-detail-item .getmore {
    border: 1px solid #f13437;
    color: #f13437;
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
}
.pro-detail-item .topay{
        color: #fff;
    padding: 9px;
    font-size: 13px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    background: #f13437;
}

.pro-txt {
    padding: 10px 0 0;
}

.choose-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    line-height: 44px;
}

.pro-detail-judge {
    padding: 10px;
}

.store-btns {
    margin-bottom: 5px;
}

.store-star {
    margin: 10px 0;
}

.cust-line {
    margin: 5px 0;
}

.express {
    margin: 12px 0 0;
    padding-bottom: 5px;
    font-size: 12px;
   
}
.pro-store-img{
    padding: 0 10px;
    margin: 5px 0;
}
.pro-store-img img{
    width: 40px;
}
#chooseSec {
    padding: 0;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec-choose {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sec-choose img {
    width: 70px;
    margin-right: 10px;
}

.sec-items {
    line-height: 25px;
    height: 65px;
    padding: 5px 10px;
}

.sec-items span {
    background: #efefef;
    color: #333;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.sec-items span.active {
    background: #f13437;
    color: #fff;
}

.sec-items-amount {
    padding: 10px;
}

.sec-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.sec-amount span {
    background: #efefef;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    margin: 0 1px;
}

.sec-items-blank {
    height: 10rem;
}

.price {
    font-size: 16px;
}


/**
 * 店铺介绍
 */

.store-intro-star {
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -5px;
}

.pro-line{
	    margin: 0px 10px 10px;
    border-bottom: 1px solid #ddd;
}
.store-service{
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}
.store-intro-title {
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}

.store-address-row {
    display: flex;
  /*  justify-content: flex-start;*/
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 5px;
}

.store-address {
  /*  padding: 0 30px 0 14px;*/
    margin-left: 5px;
    padding-right: 5px;
}

.am-icon-phone {
    margin-right: 5px;
}

.foot-slide {
    display: flex;
    overflow-x: auto;
    padding: 10px 10px 0;
    justify-content: flex-start;
}

.foot-slide img {
    margin-bottom: 2px;
}

.slide-box {
    width: 100px;
    padding-right: 10px;
    white-space: nowrap;
}


/*须知*/
.notes-wrap{ border-top: 1px solid #ddd; margin: 5px 10px;}
.notes-wrap p{ margin: 0;}
.notes-wrap p.gray{ margin-top: 10px;}

/*推荐商品*/
.recom-list{padding: 0 14px;}
.one-recom{border-bottom: 1px solid #EEEEEE;padding: 10px ;position: relative;}
.one-recom img{width: 12rem;height: 8rem;}
.clear{clear: both;}
.one-recom a{color: #333333;}
.one-recom:last-child{border-bottom: 0;}
.one-recom .recom-good-name{position: absolute;left: 14rem;top: 1rem;}
.one-recom .recom-good-price{position: absolute;left: 14rem;bottom: 9px;}

.avator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #efefef;
}

.store-comment {
    padding: 5px 0 10px;
    border-bottom: 1px solid #efefef;
}

.store-comment .baguetteBox img{margin-top: 5px;}

.go-to-pay{
  border: 1px solid #f13437;
  color: #fff;
  background: #f13437;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  height: 34px;
  line-height: 34px;

}
/**
 * 支付
 */

.pay-container {
    margin-top: 10px;
}

.pay-item {
    background-color: #fff;
    margin: 10px 0;
}

.pay-item div {
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    border-bottom: 1px solid #efefef;
}

.pay-notice {
    padding-left: 10px;
}

.pay-notice li {
    list-style-type: none;
}

.pay-btn {
    margin: 35px 0;
    padding: 0 10px;
}


/**
 * 支付密码
 */

.am-list-news-hd h2 {
    font-weight: 500;
}

.pay-pwd-container {
    margin-top: 50px;
    padding: 0 12px;
}

.forget-pwd-container {
    padding: 10px 12px;
}

.pay-pwd-title {
    font-size: 17px;
    margin-bottom: 25px;
}

.pay-pwd-inpt {
    height: 44px;
    line-height: 44px;
    background: #eee;
    border: none;
    width: 100%;
    color: #666;
    padding: 10px;
}

.pay-type img {
    width: 20px;
    margin-right: 10px;
    vertical-align: bottom;
}

.vertical-middle {
    vertical-align: middle !important;
}

.pay-type a {
    color: #333;
}

.pay-for-money {
    margin-top: 6rem;
}

.pay-for-money .am-u-sm-6 {
    padding: 0;
    font-size: 15px;
}

.pay-for-money .pay-btn {
    padding: 0;
}


/**
 * 支付成功
 */

.pay-success-container {
    text-align: center;
    margin-top: 25px;
}

.pay-success-container img {
    width: 80px;
    margin-bottom: 12px;
}

.success-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #efefef;
}

.pay-success-title {
    font-size: 14px;
}

.paymoney {
    font-size: 20px;
    margin-top: 0;
    font-weight: normal;
}


/**
 * 发表评论
 */

.comment-title {
    font-size: 1.6rem;
    margin: 5px 0 10px;
}

.comment-container {
    padding: 5px 15px;
}

.comment-container textarea {
    width: 100%;
    border: 1px solid #efefef;
    margin-bottom: 35px;
    padding: 10px;
}

.comment-star {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

i.icon {
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

i.icon.icon-stop {
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
  /*  background-image: url(../img/icon/stop.png);*/
    background-image: url(../img/icon/ic_parking_free@2x.png);
}
i.icon.icon-no-stop{
     background-image: url(../img/icon/ic_parking_free_grey@2x.png);
}

i.icon.icon-share {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
    background-image: url(../img/icon/share.png);
}

i.icon.icon-address {
    width: 14px;
    height: 20px;
    background-image: url(../img/icon/address.png);
}

i.icon.icon-song {
    width: 18px;
    height: 18px;
    background-image: url(../img/icon/ic_send_out.png);
}

i.icon.icon-truck {
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
   /* background-image: url(../img/icon/truck.png);*/
   background-image: url(../img/icon/ic_delivery_free@2x.png);

}
i.icon.icon-no-truck{
     background-image: url(../img/icon/ic_delivery_free_grey@2x.png);
}

i.icon.icon-moto {
    margin-bottom: -5px;
    width: 20px;
    height: 20px;

   background-image: url(../img/icon/moto.png);

}
i.icon.icon-moto-on{
	margin-bottom: -5px;
    width: 20px;
    height: 20px;
     background-image: url(../img/icon/moto_on.png);
}

i.icon.icon-shop-on{
	margin-bottom: -5px;
    width: 20px;
    height: 20px;
     background-image: url(../img/icon/shop.png);
}

i.icon.icon-wifi {
    margin-bottom: -4px;
    width: 20px;
    height: 20px;
    /*background-image: url(../img/icon/wifi.png);*/
    background-image: url(../img/icon/ic_wifi@2x.png);
}

i.icon.icon-no-wifi{
     background-image: url(../img/icon/ic_wifi_grey@2x.png);
}

i.icon.icon-choose-pay {
    width: 20px;
    height: 20px;
    background-image: url(../img/icon/ic_choose_pay.png);
}
i.icon.icon-star {
    width: 30px;
    height: 30px;
    background-image: url(../img/icon/star.png);
}

i.icon.icon-star.active {
    background-image: url(../img/icon/star-active.png);
}

i.icon.icon-checked {
    width: 15px;
    height: 15px;
    background-image: url(../img/icon/checked.png);
}

i.icon.icon-uncheck {
    width: 15px;
    height: 15px;
    background-image: url(../img/icon/uncheck.png);
}

i.icon.icon-jude.active {
    width: 12px;
    height: 12px;
    background-image: url(../img/icon/ic_star_active.png);
}

i.icon.icon-jude.gray {
    width: 12px;
    height: 12px;
    background-image: url(../img/icon/ic_star_gray.png);
}

i.icon.icon-jude.half {
    width: 12px;
    height: 12px;
    background-image: url(../img/icon/ic_star_half.png);
}

.comment-star .icon-star {
    margin-right: 10px;
}


/**
 * 注册成功
 */

.go-download {
    font-size: 17px;
    height: 45px;
    line-height: 45px;
    padding: 0;
}
/* 角色介绍通用
 * 2017-4-6 16:09:28 talon
 * */
.role-wraper {
	font-size: 1.4rem;
}
.role-wraper .role-name {
	background: #f5f5f5;
	text-align: center;
	font-size: 2.0rem;
	height: 4rem;
	line-height: 4rem;
	border-bottom: 1px solid #eee;
}
.role-wraper .role-desc {
	margin: 1rem;
	padding: .5rem;
}
.role-wraper .kf {
	font-weight: bold;
}
.role-wraper .a_link{
	text-decoration: underline;
}

/*********图片播放*******/
.baguetteBox-button#close-button{
    display: none;
}


/*********餐饮优惠付款************/

.mb-10{margin-bottom: 10px;}
    	
.gift_bg{background: url(../img/icon/gift_bg.png) repeat;}
.payInfo-wrap,.new-user-wrap,.pay-wrap{position: relative;padding:0 10px;color: #FFFFFF;}
.payInfo-wrap input,.new-user-wrap input,.pay-wrap button{width: 100%;height: 40px;border-radius: 4px;outline: 0;}
.payInfo-wrap .tip{margin: 5px 0;}
.payInfo-wrap .shop-name{font-size: 25px;text-align: center;margin-top: 20px;}
.payInfo-wrap .platform-no{font-size: 14px;text-align: center;}
.payInfo-wrap .pay-tip{font-size: 15px;font-weight: bold;}
.payInfo-wrap .pay-money{font-size: 25px;font-weight: bold;color: #ffba25;}
.payInfo-wrap .desc-wrap{font-size: 12px;}
.payInfo-wrap .input-box{position: relative;}
.payInfo-wrap .dikou{    position: absolute;right: 15px;top: 9px;font-size: 14px;}
.payInfo-wrap .bind{
	    position: absolute;
    right: 10px;
    top: 5px;
    width: 70px;
    height: 30px;
    font-size: 13px;
    border-radius: 4px;
    background: #f12437;
    outline: 0;
}
.payInfo-wrap .bind:disabled{background: #CCCCCC;}
.desc-wrap .q{background: url(../img/icon/q.png) no-repeat;width: 13px; height: 13px; display: inline-block; background-size: 100%; position: relative; top: 2px;left: 3px;}
.payInfo-wrap input,
.new-user-wrap input{padding-left: 10px;color: #333333;}
.new-user-wrap input{color: #333333;}
.new-user-wrap{border-top: 2px dashed #9e2520;margin-top: 15px;padding-top: 15px;}
.new-user-wrap .card-wrap{background: url(../img/icon/card_bg2.png) center center no-repeat;background-size: 100%;padding: 10px 25px ;}
.card-wrap .item{margin-bottom: 10px;position: relative;}
.card-wrap .item:last-child{margin-bottom: 0px;}
.card-wrap .user-tip{color: #F13437;font-size: 16px;text-align: center;font-weight: bold;}
.card-wrap .getcode{width: 85px;position: absolute;right: 0;top: 0;height: 40px;background: #F13437;border-radius: 0 4px 4px 0;font-size: 12px;padding: 0 10px;}
.card-wrap .getcode:disabled { background: #c1c1c1;}
.card-wrap .p-1{color: #333;font-size: 15px;font-weight: bold;}
.card-wrap .p-2{color: #F13437;font-size: 25px;font-weight: bold;}
.pay-wrap{margin-top: 20px;margin-bottom: 20px;}
.pay-order{background: #FFBA25;font-size: 17px;font-weight: bold;}

@media only screen and (min-width: 320px) and (max-width: 340px){
	.payInfo-wrap .shop-name { font-size: 22px;margin-top: 10px;}
	.payInfo-wrap input, .new-user-wrap input, .pay-wrap button {height: 35px;}
	.card-wrap .user-tip {font-size: 11px;}
	.card-wrap .getcode{height: 35px;}
	.card-wrap .p-1 {font-size: 12px;}
	.card-wrap .p-2 {font-size: 22px;}
	.pay-order{font-size: 14px;}
}
@media only screen and (min-width: 341px) and (max-width: 400px){
	.card-wrap .user-tip{font-size: 13px;}
}
@media only screen and (min-width: 400px) {
	.card-wrap .user-tip{font-size: 14px;}
}

/*********注册成功、申请牛人、牛达人等、************/
.tip-bg{
		background: url(../img/icon/tip@2x.png) #F13437 no-repeat;
		background-size: 100%;
		position: static;
	}
	.tip-wrap{
		position: absolute;
	    bottom: 47px;
	    text-align: center;
	    width: 100%;
	    color: #ffffff;
	}
	.tip-wrap .item-1{
		font-size: 20px;
		margin-bottom: 4rem;
		font-weight: bold;
	}
	.tip-wrap .item-1 span{color: #ffff7f;margin: 0 5px;}
	.tip-wrap .item-2{font-size: 14px;}
	.tip-wrap .point{font-size: 12px;margin-bottom: 15px;}
	.tip-wrap .reward-box{margin: 10px 0;}
	.tip-wrap .reward-box.r-2{margin-bottom: 75px;}
	.reward-box .one-reward{
		    width: 110px;
		    height: 60px;
		    border: 1px solid #fff;
		    border-radius: 6px;
		    display: inline-block;
		        margin:  7px;
	}
	
	.one-reward .num{color: #F13437;font-size: 18px;background: #FFFFFF;font-weight: bold;border-radius: 4px 4px 0 0;}
	.one-reward .txt{line-height: 30px;}
	.tip-wrap .point span{color: #FFFF7F;}
	.tip-wrap .go_download{color: #FFFF7F;border: 1px solid #FFFF7F;border-radius: 15px;padding: 5px 28px;}
	

@media only screen and (min-width: 400px) {
		.reward-box .one-reward{
		    width: 130px;
		    height: 70px;
		    border: 1px solid #fff;
		    border-radius: 6px;
		    display: inline-block;
		    margin:  10px;
		}
		.one-reward .num,
		.one-reward .txt{height: 35px;line-height: 35px;}
	}
	
/********牛人、牛达人、牛创客社群介绍********/
.group-desc{
	padding: 35px 0;
	margin: 0 15px;
	border-bottom: 1px dashed #CCCCCC;
}
.group-desc:last-child{	
	border-bottom: none;
}
.group-desc h4{
	text-align: center;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 20px;
	
}
.group-desc .content{
	text-indent: 13px;
	font-size: 13px;
	line-height: 28px;
	 
}
.benefit .content {
		line-height: 30px;
	    margin-bottom: 5px;
}
.benefit .content img{
	width: 13px;
    height: 13px;
    margin-right: 10px;
}