
/*  **********  public ********** */
body{ background:#FFFFFF; padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif, 宋体,; color:#333333; font-size:12px;}
ul{padding:0px; margin:0px;}
ul li{ list-style:none;}
img{ border:0px;}
.clr{clear:both; font-weight:bold; color:#993300; width:100%;  font-size:14px;}
.clear{ clear:both;}
.red{ color:#FF0000;}
.require-field{ color:#FF0000;}
a{ color:#333333; text-decoration:none; cursor:pointer;}
.clearfix:after{clear:both; content:"."; display:block; height:0; visibility:hidden; }
.clearfix{zoom:1;}
.fr{float:right;}
.fl{float:left;}
.hide{display:none;}
.bold{font-weight:bold;}
.mar10{margin:10px;}
.mart10{display:block; margin-top:8px;}
.marr10{margin-right:10px;}
.marb10{margin-bottom:10px;}
.marl6{margin-left:6px;}
.marl10{margin-left:10px;}
.mart5{margin-top:5px;}
.width25{width:25px;}
.width100{width:100px;}
.width200{width:200px;}
.width300{width:300px;}
/*.dis_block{display:block}*/
.dis_none{display:none;}
.w150 {width:150px; font-weight:bold;}
.needstar{font-weight:normal; color:red;}


select, input.chk, label{vertical-align:middle;}
input, textarea {border:1px solid #7f9db9; vertical-align:middle; padding:1px; font-family:Arial, Helvetica, sans-serif, 宋体;, Courier, monospace; font-size:14px;}
input.date_txt {background: url("../images/date.png") no-repeat scroll left center white;font-weight: bolder;padding-left: 18px;}
.nowrap {white-space:nowrap}

.main{margin: 5px;}
.add_box{ margin:auto; width:98%; overflow:hidden; }
.tab_tit{ clear:both;  margin: auto; color:#479ac2; font-weight:bold; line-height:30px; padding-top:6px; font-size:14px;}
.tab_box{ margin:10px auto; display:inline-block; padding:10px 0px 20px 0px; border:1px solid #a5c4fe; width:100%;}
.tab_box_pad{width:98%; margin:auto; padding:5px 10px;}
.s_scheme{ padding:20px;}
.s_scheme span{ font-size:14px; font-weight:bold;}
.s_scheme ul{margin:10px 15px;}
.s_scheme ul li a.current{ color:#FF0000;}

/*   point  */
.point_box{clear:both; margin:10px auto; width:390px; border:1px solid #89befb; text-align:center; padding-bottom:30px;}
.point_box span{float:left; margin:60px 100px 30px 130px; font-size:18px; font-weight:bold; color:#127db1;}
.point_box span b{ float:left; margin-left:6px; }

/*   operate  */
.oper_box{width:98%; margin:auto;}
.border{ float:left; width:100%; border:1px solid #e6ebe4; margin-top:10px;}
input.caozuo{ float:left; margin:10px 5px;  background:url(../images/piliang.jpg) no-repeat left; width:90px; height:25px; border:0px; cursor:pointer;}
input.daochu{ float:left; margin:10px 5px;  background:url(../images/daochu.jpg) no-repeat left; width:62px; height:25px; border:0px; cursor:pointer;}
input.daying{ float:left; margin:10px 5px;  background:url(../images/dayin.jpg) no-repeat left; width:62px; height:25px; border:0px; cursor:pointer;}
input.mingxi{ float:left; margin:10px 5px;  background:url(../images/mingxi.jpg) no-repeat left; width:113px; height:25px; border:0px; cursor:pointer;}
input.copy{ float:left; margin:10px 5px; ; background:url(../images/copy.jpg) no-repeat left; width:97px; height:25px; border:0px; cursor:pointer;}
input.n_product{float:right; margin:10px 5px; background:url(../images/n_product.jpg) no-repeat; width:106px; height:25px; border:0px; cursor:pointer;}
.border select{ float:left; margin:10px;}

/* help area */
.help_bar{border:1px solid #d4d4d4; margin-top:-1px; margin-bottom:5px;background:#f7f7f7; padding:10px 0px; position: fixed;float: right;}
.help_bar h3{background:url(../images/light.png) no-repeat left; padding-left:30px; font-size:14px; font-weight:bold; margin:0px 10px;}
.help_bar h3 span{color:#999999; margin:auto 5px;}
.help_bar h3 span a{ text-decoration:underline; color:#6c8c2b; margin:auto 2px;}
.help_bar ul{margin:5px 20px;}
.help_bar ul li{background:url(../images/icon.png) no-repeat left; padding-left:15px;line-height:23px;}

/*  popup  */
.p_cont{float:left; clear:both; width:98%; margin:10px;}
.p_cont a{ cursor:pointer; margin:auto 3px;}
.popu_box {position:absolute; border:1px solid #7fbafb; width:auto; min-width:600px; *width:300px; _width:500px;  height:auto; min-height:370px; background:#ffffff; z-index:1501; display:none;}
.popu_close{float:left; width:100%; background:#ccdcfe; height:30px; line-height:30px; font-size:14px; font-weight:bold;}
.popu_close input.colse{ float:right; margin:8px 10px 0px 0px; background:url(../images/close.jpg) no-repeat; width:14px; height:15px; border:0px; cursor:pointer;}
.popu_close span{float:left; margin-left:10px;}



/*  sub_nav_bar  */
.sub_nav_bar{margin:0px 5px;padding:5px 0px;border-bottom:1px solid #ccc; }
.sub_nav_bar ul{padding:0px; margin:0px;}
.sub_nav_bar ul li{ display:inline-block; line-height:26px;}
.sub_nav_bar ul li a{border-right:1px solid #688b27; padding:0px 5px; margin:6px auto;color:#333333;}
.sub_nav_bar ul li a:hover.uncurrent, .sub_nav_bar ul li a:hover.current{ color:#688b27;}
.sub_nav_bar ul li a.nobd{border-right:0px;}
.sub_nav_bar ul li a.uncurrent{ color:#688b27;}
.sub_nav_bar ul li a.current{color:#384950; font-weight:bold;}
.sub_nav_bar ul li.current a{color:#384950; font-weight:bold;}


/*  .sub_tab_bar  */
.sub_tab_tar{ float:left; width:98%; *width:960px;  margin:0px 10px; margin-bottom:10px; background:url(../images/cut_bg.jpg) repeat-x; }

.tab_tar{float:left; }
.tab_tar ul{padding:0px; margin:0px;}
.tab_tar ul li{float:left; cursor:pointer;}

.tab_tar_l_gray{ float:left;}
.tab_tar_l_gray .tab_icon{ float:left; background:url(../images/y_l_bg.jpg) no-repeat; width:14px; height:25px;}
.tab_tar_l_gray .tab_text{float:left; background:url(../images/y_m_bg.jpg) repeat-x;  height:25px; line-height:25px; padding:0px 8px; color:#FFFFFF;}
.tab_tar_r_gray{float:left; background:url(../images/y_r_bg.jpg) no-repeat; width:5px; height:25px;}

.tab_tar_l_white{ float:left;}
.tab_tar_l_white .tab_icon{ float:left; background:url(../images/s_l_bg.jpg) no-repeat; width:20px; height:25px;}
.tab_tar_l_white .tab_text{float:left; background:url(../images/s_m_bg.jpg) repeat-x;  height:25px; line-height:25px; padding:0px 8px; color:#333333;}
.tab_tar_r_white{float:left; background:url(../images/s_r_bg.jpg) no-repeat; width:5px; height:25px;}

.table_bar_link{float:left; background:url(../images/table_bar_link.jpg) no-repeat scroll left transparent; padding-left:19px; height:25px;}
.table_bar_link a{float:left; background:url(../images/table_bar_link.jpg) no-repeat scroll right transparent; min-width:5px; padding:0px 12px; height:25px; line-height:25px;}

.table_bar_unlink{float:left; background:url(../images/table_bar_unlink.jpg) no-repeat scroll left transparent; padding-left:13px; height:25px;}
.table_bar_unlink a{float:left; background:url(../images/table_bar_unlink.jpg) no-repeat scroll right transparent; min-width:5px; padding:0px 12px; height:25px; line-height:25px; color:#FFFFFF;}

.sub_tab_bar_blue{width:100%; display:block; border-bottom:1px solid #83c0ff; background:#fff; height:40px; margin-bottom:10px; }
.sub_tab_bar_blue a.uncurrent{ display:inline-block; margin:0px 3px; background:url(../images/tit_bg_link.jpg) no-repeat; width:103px; height:24px; line-height:24px; color:#FFFFFF; text-align:center; margin-top:17px;}
.sub_tab_bar_blue a.current{ position:relative; display:inline-block; margin-bottom:-1px; background:url(../images/tit_bg_unlink.jpg) no-repeat; width:103px; height:24px; line-height:24px; color:#3366CC; text-align:center; margin-top:17px;}

/*  sub_search_bar  */
.sub_search_bar{ border:1px solid #ccc; background:#e9f0ff; width:100%; height:25px; line-height:25px; }
.sub_search_bar ul{padding:0px; margin:0px;}
.sub_search_bar ul li{ display:inline-block; padding:0px 5px; border-right:1px solid #ccc; line-height:16px;}
.sub_search_bar ul li.nbod{border-right:0px;}
.sub_search_bar ul li a{ color:#333333;}
.sub_search_bar ul li a.current{ color:#FF3300;}

.tab_tar_gray{ position:relative; margin:auto; width:100%; margin-top:10px; z-index:222; bottom:-1px; }
.tab_tar_gray ul{padding:0px; margin:0px;}
.tab_tar_gray ul li{ float:left; background:url(../images/tab_tar_gray_unclick.jpg) no-repeat scroll left transparent; padding-left:8px; height:22px; text-align:center;line-height:22px; margin-right:2px; }
.tab_tar_gray ul li span{ float:left; background:url(../images/tab_tar_gray_unclick.jpg) no-repeat scroll right transparent; min-width:5px; padding:0px 13px 0px 5px; cursor:pointer;}
.tab_tar_gray ul li.click{float:left;  background:url(../images/tab_tar_gray_click.jpg) no-repeat scroll left transparent; min-width:5px; text-align:center; height:22px; line-height:22px; }
.tab_tar_gray ul li.click span{float:left; background:url(../images/tab_tar_gray_click.jpg) no-repeat scroll right transparent; min-width:5px; padding:0px 13px 0px 5px; cursor:pointer;}


/*** form ***/
.frm{}
.frm table{}
.frm table td{height:24px; word-break: break-all; word-wrap: break-word;}
.frm table td.label{width:26%;text-align:right;}
.frm table td.btn_group{text-align:right;height:38px;}

.frm_mar10{clear:both; margin:10px;}
.frm_mar10 table{}
.frm_mar10 table td{}
.frm_mar10 table td.label{}
.frm_mar10 .btn_group{ display:inline-block; width:100%; text-align:right; margin:10px auto; }

.ysl-tip-container-wrap {width:100%; text-align:center; left:0; position:fixed; top:16%; z-index: 65533; _position:absolute;}
.ysl-tip-container {display:inline-block; height:54px; line-height:54px; color:#606060; font-weight:bold; font-size: 14px; background:url("../images/tip_layer.png") no-repeat 100% -215px; padding-right:13px;}
.ysl-tip-icon-0,
.ysl-tip-icon-1,
.ysl-tip-icon-2 {background:url("../images/tip_layer.png") no-repeat -6px 1px; float:left; display:inline-block; height:54px; width:45px; margin:0 0 0 -45px; _margin:0 -4px 0 0;}
.ysl-tip-icon-0 {background-position:-6px -53px;}
.ysl-tip-icon-2 {background-position:-6px -107px}
.ysl-tip-content {display:inline-block; height:54px; line-height:54px; background:url("../images/tip_layer.png") repeat-x 100% -161px; padding:0 18px 0 9px}
.ysl-loading-wrap{background: url("../images/Ajax_loading.gif") no-repeat scroll 0 0 transparent;position:absolute;left: 650px; top: 108px; z-index:99999;width:66px;height:66px;visibility:hidden;}

/*mod_popup*/
.mod_popup_container{border:1px solid #394a54;}
.mod_popup_hd{position:relative;height:27px;}
.mod_popup_hd h3{background-repeat:repeat-x; background-color:#394a54; border:1px solid #c0bfbb; color:#fff; font-size:14px; font-weight: bold; height:100%; line-height:27px;margin: 0;padding-left: 10px;}
.mod_popup_hd .close_btn{background: url("../images/close.jpg") no-repeat scroll 0 0 transparent;display: block;height: 12px;overflow: hidden;position: absolute;right: 10px;top: 8px;width: 12px;}
.mod_popup_bd{padding:5px;}

/* icon */
.icon_search{background: url("../images/seach_img.png") no-repeat scroll 0 0 transparent;display: inline-block;height: 16px;vertical-align: middle;width: 16px;}
.icon_menu_operate{ background:url(../images/operate_img.png) no-repeat left;}
.icon_menu_search{ background:url(../images/search_img.png) no-repeat left;}
.icon_menu_form{ background:url(../images/form_img.png) no-repeat left;}
.icon_menu_business{ background:url(../images/business_img.png) no-repeat left;}
.icon_menu_SaseSet{ background:url(../images/SaseSet_img.png) no-repeat left;}
.icon_menu_SystemSet{ background:url(../images/SystemSet_img.png) no-repeat left;}
.icon_menu_tool{ background:url(../images/tool_img.png) no-repeat left;}
.icon_menu_help{ background:url(../images/help_img.png) no-repeat left;}
.icon_close{ display:inline-block; background:url(../images/close_blue.jpg) no-repeat; width:16px; height:16px; }
.icon_point_succeed{ float:left; background:url(../images/point_succeed.png) no-repeat; width:23px; height:30px;}
.icon_point_fail{ float:left; background:url(../images/point_fail.png) no-repeat; width:23px; height:30px;}
i.icon_add{background:url(../images/icon_add.gif) no-repeat left;display: inline-block;height: 16px;vertical-align: middle;width: 16px;margin-right:5px;}
i.icon_exp{background:url(../images/icon_send_bonus.gif) no-repeat left;display: inline-block;height: 16px;vertical-align: middle;width: 16px;margin-right:5px;}
i.icon_log{background:url(../images/icon_log.gif) no-repeat left;display: inline-block;height: 16px;vertical-align: middle;width: 16px;margin-right:5px;}
i.icon_email_open{ display:inline-block; background:url(../images/icon_email_open.jpg) no-repeat; width:13px; height:13px;}
i.icon_email_close{ display:inline-block; background:url(../images/icon_email_close.jpg) no-repeat; width:13px; height:10px;}
i.sort_asc{background: url("../images/sort_asc.png") no-repeat scroll center center transparent;display: inline-block;height: 13px;width: 13px; margin:auto 3px; vertical-align:middle;}
i.sort_desc{background: url("../images/sort_desc.png") no-repeat scroll center center transparent;display: inline-block;height: 13px;width: 13px; margin:auto 3px; vertical-align:middle;}
i.search_list{background:url(../images/icon2.jpg) no-repeat left;display: inline-block;height:14px;vertical-align: middle;width: 15px;}
.click_down_black{ display:inline-block; background:url(../images/click_down_black.gif) no-repeat; width:10px; height:6px;}
i.icon_edit{background: url("../images/icon_edit.gif") no-repeat scroll 0 0 transparent;display: inline-block;height: 16px; width: 16px; vertical-align: middle; margin-right:5px;}
i.icon_loading{background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;display: inline-block;height: 16px; width: 16px; }
i.tooltip{background:url(../images/remark.png) no-repeat; width:16px; height:16px; display: inline-block; vertical-align: middle;}

.click_up_black{ display:inline-block; background:url(../images/click_up_black.gif) no-repeat; width:10px; height:6px;}
.click_down_gray{ display:inline-block; background:url(../images/click_down_gray.gif) no-repeat; width:10px; height:6px;}
.click_up_gray{ display:inline-block; background:url(../images/click_up_gray.gif) no-repeat; width:10px; height:6px;}
.click_down_orange{ display:inline-block; background:url(../images/click_down_orange.gif) no-repeat; width:10px; height:6px;}
.click_up_orange{ display:inline-block; background:url(../images/click_up_orange.gif) no-repeat; width:10px; height:6px;}
.click_down_red{ display:inline-block; background:url(../images/click_down_red.gif) no-repeat; width:10px; height:6px;}
.click_up_red{ display:inline-block; background:url(../images/click_up_red.gif) no-repeat; width:10px; height:6px;}
.click_down_black{ display:inline-block; background:url(../images/click_down_black.gif) no-repeat; width:10px; height:6px;}

/***  btn *****/
.btn{font-family: Arial, Helvetica, sans-serif,宋体; }
/*.button, .btn_blue, input:hover.btn_blue{background: url("../images/confirm11.png") no-repeat scroll 0 0 transparent;border: 0 none; color: #4a701a;cursor: pointer;display: inline-block;height:24px; line-height:24px; overflow: hidden;text-align: center;vertical-align: middle;width:79px; padding-bottom:5px;}*/
input:hover.btn_gray_dark100{background:url("../images/confirm100.png") no-repeat; width:100px; height:24px; line-height:24px; color: #4a701a;}
input:hover.btn_gray_dark150{background:url("../images/confirm150.png") no-repeat; width:150px; height:24px; line-height:24px; color: #4a701a;}
.btn_blue150{background: url("../images/confirm150.png") no-repeat scroll 0 0 transparent; border:0px;color: #4A701A;cursor: pointer;display: inline-block;height: 24px; line-height:24px; overflow: hidden;text-align: center;vertical-align: middle;width:150px; padding-bottom:5px;}

.btn_gray{ background:url("../images/confirm11.png") no-repeat; width:79px; height:24px; line-height:24px; border:0px; cursor:pointer; color:#000;  padding-bottom:7px;}
.btn_gray_dark{ background:url("../images/confirm1.png") no-repeat; width:79px; height:24px; line-height:24px; border:0px; cursor:pointer; color:#8b969c;  padding-bottom:7px;}
.btn_blue100{background: url("../images/confirm100.png") no-repeat scroll 0 0 transparent; border:0px;color: #4A701A;cursor: pointer;display: inline-block;height: 24px;line-height:24px; overflow: hidden;text-align: center;vertical-align: middle;width:100px; padding-bottom:5px;}
.btn_gray_dark100{ background:url("../images/confirm100_gray.png") no-repeat; width:100px; height:24px; line-height:24px; border:0px; cursor:pointer; color:#8b969c;  padding-bottom:5px;}
.btn_gray_dark150{ background:url("../images/confirm150_gray.png") no-repeat; width:150px; height:24px; line-height:24px; border:0px; cursor:pointer; color:#8b969c;  padding-bottom:5px;}
.btn_tint{background: url("../images/confirm1.png") no-repeat scroll 0 0 transparent; color:#8b969c;}
.btn_edit{background: url("../images/icon_edit.gif") no-repeat scroll 0 0 transparent;display: inline-block;height: 16px;overflow: hidden;text-indent: -9999px;vertical-align: middle;width: 16px;}
.btn_delete{background: url("../images/icon_drop.gif") no-repeat scroll 0 0 transparent;display: inline-block;height: 16px;overflow: hidden;text-indent: -9999px;vertical-align: middle;width: 16px;}
.btn_view{background: url("../images/icon_view.gif") no-repeat scroll 0 0 transparent;display: inline-block;height: 16px;overflow: hidden;text-indent: -9999px;vertical-align: middle;width: 16px;}
.btn_copy{background:url(../images/icon_copy.gif) no-repeat; display:inline-block; overflow: hidden; text-indent: -9999px; width: 16px;}
.btn_priv{background:url(../images/icon_priv.gif) no-repeat; display:inline-block; overflow: hidden; text-indent: -9999px; width: 16px;}
.btn_help{background: url(../images/ask.png) no-repeat scroll 0 0 transparent;display: inline-block;height: 19px;overflow: hidden;text-indent: -9999px;vertical-align: middle;width: 19px;}
.btn_small{ background:url("../images/btn_small.png") no-repeat; width:50px; height:24px; line-height:24px; border:0px; cursor:pointer; color:#547539;  padding-bottom:7px;}
.btn_small_add{ background:url("../images/add_icon.png") no-repeat; width:69px; height:24px; line-height:24px; border:0px; cursor:pointer;}

.btn_dropdown{display:inline-block; vertical-align: middle;}
.btn_dropdown a.btn_left{ float:left; display:inline-block; background:url(../images/bt_bg.png) scroll left bottom transparent; height:26px; line-height:26px; overflow:hidden; color:#fff; text-decoration:none; cursor:pointer; padding-left:16px;}
.btn_dropdown a.toggle{ display:inline-block; background:url(../images/bt_bg.png) right no-repeat; width:29px; height:26px; line-height:26px;  text-decoration:none; cursor:pointer;}
.btn_dropdown a:hover{ color:#FF9900;}

.btn_scroll{display:inline-block; vertical-align: middle;}
.btn_scroll a.btn_left{ float:left; display:inline-block; background:url(../images/bt_bg_scroll.png) scroll left bottom transparent; height:26px; line-height:26px; overflow:hidden; color:#fff; text-decoration:none; cursor:pointer; padding-left:16px;}
.btn_scroll a.btn_right{ display:inline-block; text-indent:200px; overflow:hidden; background:url(../images/bt_bg_scroll.png) right no-repeat; width:16px; height:26px; line-height:26px; text-decoration:none; cursor:pointer;}
.btn_scroll a:hover{ color:#FF9900;}


.btn_dropdown .dropdown_list{position:absolute; background:#f7f9f5; border:1px solid #5b8836; z-index:999; display:none;}
.btn_dropdown .dropdown_list li{color:#333333;padding-left:10px;line-height:2;padding-right: 5px;}
.btn_dropdown .dropdown_list li a{display: inline-block;width: 100%;}
.btn_dropdown .dropdown_list li:hover{background:#f3f1f1;}
.btn_dropdown .dropdown_list li:hover a{color:#FF9900;}

.btn_dropdown_small a.btn_left{background: url("../images/btn_group_dropdown.jpg") no-repeat scroll left center transparent;color: #666666;height: 20px;line-height: 21px;padding: 0;text-align: center; min-width:2px; padding-left:10px;}
.btn_dropdown_small a.toggle{background:url("../images/btn_group_dropdown.jpg") right no-repeat; width:25px; height:20px;}
.btn_dropdown_small .dropdown_list{border-color:#BBBBBB;background-color:#FFFFFF}
.btn_dropdown_small .dropdown_list li{line-height: 21px;padding-left: 10px;text-align: left;}

.btn_dropdown_small_div{display:inline-block; vertical-align: middle;}
.btn_dropdown_small_div .btn_left{float:left; background: url("../images/btn_group_dropdown_unline.jpg") no-repeat scroll left center transparent;color: #666666;height:20px;line-height: 21px;padding: 0;text-align: center; min-width:2px;}
.btn_dropdown_small_div .btn_left a{ padding-left:10px;}
.btn_dropdown_small_div .toggle {float:left; background:url("../images/btn_group_dropdown_unline.jpg") right no-repeat; width:18px; height:20px;}
.btn_dropdown_small_div .toggle a{ display:block; width:25px; height:20px;}
.btn_dropdown_small_div .dropdown_list{border-color:#BBBBBB;background-color:#FFFFFF}
.btn_dropdown_small_div .dropdown_list li{line-height: 21px;padding-left: 10px;text-align: left;}

.btn_undropdown{display:inline-block; vertical-align: middle;}
.btn_undropdown a.btn_left{ float:left; display:inline-block; background:url(../images/btn_group_dropdown_n.jpg) scroll left bottom transparent; height:20px; line-height:20px; overflow:hidden; color:#333; text-decoration:none; cursor:pointer; padding-left:10px;}
.btn_undropdown a.toggle{ display:inline-block; background:url(../images/btn_group_dropdown_n.jpg) right no-repeat; width:10px; height:20px; line-height:20px;  text-decoration:none; cursor:pointer;}
.btn_undropdown a:hover{ color:#FF9900;}

.btn_site_info{ display:block; width:100%; height:46px; overflow:hidden; margin:3px auto;}
.btn_site_info a{float:left;}
.btn_site_info a.blue_l{background:url(../images/site_info_btn_auto.jpg) no-repeat left scroll transparent;  height:46px; line-height:46px; width:95%; color:#fff; font-weight:bold; font-size:18px;}
.btn_site_info a.blue_r{background:url(../images/site_info_btn_auto.jpg) no-repeat right; width:5%; height:46px; }

/*** search box *****/
.search_bar {background:#ffffff url("../images/seach_img.png") no-repeat scroll 6px 12px; line-height: 34px;margin: auto;padding:5px 5px 5px 25px ;zoom:1;}
.search_bar:after{clear:both; content:"."; display:block; height:0; visibility:hidden; }
.search_bar h1{ line-height:18px; font-size:14px; font-weight:bold; margin-left:10px; }
.search_bar select{padding:1px 1px;vertical-align:middle;}
.search_bar input{vertical-align:middle;}
.search_bar_empty{background-image: none;padding-left: 5px;}

.tool_bar{ padding-bottom:4px; line-height: 34px;margin: auto;zoom:1;}
.tool_bar:after{clear:both; content:"."; display:block; height:0; visibility:hidden; }

.tool_nleft_bar{line-height: 34px;margin: auto;zoom:1;}
.tool_nleft_bar:after{clear:both; content:"."; display:block; height:0; visibility:hidden; }

a.btn_flat{/*background-color: #628f2a;border-color: #7eb91f;border-style: solid;border-width: 1px 2px 2px 1px;color: #FFFFFF; margin-top:4px; line-height:23px;padding: 0px 10px;text-decoration: none;margin-right:5px;*/ background:url(../images/btn_flat.png) no-repeat; width:107px; height:27px; float:left; color: #000000; text-align:center; line-height:27px; margin-top:4px;}
/*a.btn_flat:hover{background-color: #75ab35;border-color: #94d924;color:#FFFFFF}*/
a.btn_flat_disabled{background-color: #CCCCCC;border-color: gray;cursor: progress;}
a.btn_flat_disabled:hover{background-color: #CCCCCC;border-color: gray;}

/*a.btn_tool,button{  background: url("../images/btn_flat_rep.png") no-repeat scroll left 0 transparent; display: inline-block; padding-left:15px; text-decoration: none;  height:24px; line-height:22px; color: #4f4f4f;  vertical-align: top; margin-top:7px; }
a.btn_tool span,button span{ background: url("../images/btn_flat_rep.png") no-repeat scroll right -24px transparent; color: #4f4f4f; height: 24px; line-height:22px; display:inline-block; padding-right: 15px; white-space: nowrap;}
a.btn_tool_disabled{cursor: progress;}
a.btn_tool_disabled span{cursor: progress;}

a.btn_tool2,button{  background: url("../images/btn_flat_rep.png") no-repeat scroll left 0 transparent; display: inline-block; padding-left:15px; text-decoration: none;  height:24px; line-height:22px; color: #4f4f4f;  vertical-align: top; margin-top:2px; }
a.btn_tool2 span,button span{ background: url("../images/btn_flat_rep.png") no-repeat scroll right -24px transparent; color: #4f4f4f; height: 24px; line-height:22px; display:inline-block; padding-right: 15px; white-space: nowrap;}
*/

a.btn_auto{  background: url("../images/btn_green_auto.png") no-repeat scroll left 0 transparent; display: inline-block; padding-left:15px; text-decoration: none;  height:24px; color: #000000;  line-height:24px; vertical-align: middle;}
a.btn_auto span{ background: url("../images/btn_green_auto.png") no-repeat scroll right -24px transparent; color: #4a701a; height: 24px; line-height: 24px; display:inline-block; padding-right: 15px; white-space: nowrap;}

a:hover.btn_auto{  background: url("../images/btn_gray_auto.png") no-repeat scroll left 0 transparent; display: inline-block; padding-left:15px; text-decoration: none;  height:24px; color: #000000;  line-height:24px; vertical-align: middle;}
a:hover.btn_auto span{ background: url("../images/btn_gray_auto.png") no-repeat scroll right -24px transparent; color: #4a701a; height: 24px; line-height: 24px; display:inline-block; padding-right: 15px; white-space: nowrap;}


.tool_btn_add { float:right;  margin-right:18px; margin-top:5px;}
.tool_btn_add a {color:#fff;font-size: 12px; font-weight:400; text-decoration: none; display:block; padding:2px 5px 2px 23px; padding:4px 5px 2px 23px; border:1px solid #2d90fc; border-right:2px solid #2d90fc; border-bottom:2px solid #2d90fc;  background:#5faafc url(../images/icon_add.gif) no-repeat 3px 5px}
.tool_btn_add a:hover { border:1px solid #5faafc; border-right:2px solid #5faafc; border-bottom:2px solid #5faafc;  background:#d2e5fb url(../images/icon_add.gif) no-repeat 3px 5px;color:#666; text-decoration:none;}

.tool_btn_log { float:right;  margin-right:18px; margin-top:5px;}
.tool_btn_log a {color:#fff;font-size: 12px; font-weight:400; text-decoration: none; display:block; padding:2px 5px 2px 23px; padding:4px 5px 2px 23px; border:1px solid #2d90fc; border-right:2px solid #2d90fc; border-bottom:2px solid #2d90fc;  background:#5faafc url(../images/icon_log.gif) no-repeat 3px 5px}
.tool_btn_log a:hover { border:1px solid #5faafc; border-right:2px solid #5faafc; border-bottom:2px solid #5faafc;  background:#d2e5fb url(../images/icon_log.gif) no-repeat 3px 5px;color:#666; text-decoration:none;}

/*  table style  */
.tab_style_base{border:0px; background:#fff; line-height:21px; width:100%; margin:5px auto; /*table-layout: fixed;*/ word-wrap: break-word; padding-top:10px; *padding-top:0px; margin-bottom:20px; border-collapse:collapse;}
.tab_style_base tr th{ background:url(../images/style_tab_bg1.jpg) repeat;  border-left:1px solid #474960; border-top:1px solid #474960; border-right:1px solid #474960; line-height:27px; color:#fefafb;}
.tab_style_base tr th a{ text-decoration:underline; color:#fefafb;}
.tab_style_base tr td{padding:3px 8px;  border:1px solid #e6ebe4;}
.tab_style_base tr td img{}
.tab_style_base tr td a{ /*text-decoration:underline;*/}
.tab_style_base tr.odd{}
.tab_style_base tr.even{background:#f7f7f7;}
.tab_style_base tr.even_bg{ background:url(../images/even_bg.jpg) repeat-x;}


.tab_style_base_app{border:0px; background:#fff; line-height:21px; width:500px; margin:5px auto; /*table-layout: fixed;*/ word-wrap: break-word; padding-top:10px; *padding-top:0px; margin-bottom:20px; border-collapse:collapse;}
.tab_style_base_app tr th{ background:url(../images/style_tab_bg1.jpg) repeat;  border-left:1px solid #474960; border-top:1px solid #474960; border-right:1px solid #474960; line-height:27px; color:#fefafb;}
.tab_style_base_app tr th a{ text-decoration:underline; color:#fefafb;}
.tab_style_base_app tr td{padding:3px 8px;  border:1px solid #e6ebe4;}
.tab_style_base_app tr td img{}
.tab_style_base_app tr td a{ /*text-decoration:underline;*/}
.tab_style_base_app tr.odd{}
.tab_style_base_app tr.even{background:#f7f7f7;}
.tab_style_base_app tr.even_bg{ background:url(../images/even_bg.jpg) repeat-x;}


.tab_style_base tr a.btn-expand{background:url("../images/unfold.png") no-repeat scroll 0 11px transparent;display:inline-block;overflow:hidden;text-indent:-9999px;width:11px;}
.tab_style_base tr.even_bg a.btn-expand{background:url("../images/contract.png") no-repeat scroll 0 11px transparent;}


.tab_style_base tr td.empty{text-align:center;line-height:30px;}
.tab_style_base tr td.pager{text-align:right;line-height:30px;padding-right:5px;}

.sub_table_list tr th{background-color:gray;background-image:none;border:0;}
.sub_table_list{border-collapse:collapse;}

.tab_style_ticket{border:0px; auto;word-wrap: break-word; border-collapse:collapse;margin-bottom:5px;margin-top:5px;}
.tab_style_ticket tr th{background-color:#cccccc;background-image:none;padding:2px;border:1px solid #d9e4e5;font-size:12px;}
.tab_style_ticket tr td{background-color:#ffffff;padding:1px 5px;border:1px solid #d9e4e5;}

.tab_view{table-layout: fixed;word-wrap: break-word;}
.tab_view td{height:24px;}
.tab_view td.label{width:30%;  text-align:right;}
.tab_view td.btn_group{text-align:right;height:38px;}

.tab_style_nobd{/*margin:auto; */border:0px;table-layout:fixed; display:inline-table;}
.tab_style_nobd caption{ text-align:left; font-weight:bold; border-bottom:1px solid #999999; line-height:25px; margin-bottom:10px;}
.tab_style_nobd tr td{border:0px; line-height:23px;word-wrap:break-word;}

.tab_style_border{clear:both; margin:auto; border:1px solid #999999;}
.tab_style_border tr td{ /*border:0px;*/  vertical-align:top;}

.tab_style_bord{ margin:8px 5px; border:1px solid #999999;}
.tab_style_bord tr th{ border-bottom:1px solid #999999;}
.tab_style_bord tr td{ border:0px;  vertical-align:top;}

.tab_style_analysis{ margin:3px 0px; border:1px solid #999999;}
.tab_style_analysis tr th{ border-bottom:1px solid #999999;}
.tab_style_analysis tr td{ border:0px;  vertical-align:top;}


/**  表头查询表单的搜索框 **/
.table_search_field{}
.table_search_field .label{text-align:right;}

table.tab_info_view{width:100%;margin-bottom: 10px;}
table.tab_info_view caption{border-bottom: 1px solid #bfbdbd;font-size: 16px;font-weight: bold;line-height: 40px;padding-left: 10px;text-align: left;}
table.tab_info_view caption a{color: #ffffff;float: right;font-size: 12px;margin-right: 10px;}
table.tab_info_view tr td{line-height:23px;padding-left:10px;}

table.tab_info_view_blue { background:#e7f0ff;}
table.tab_info_view_blue caption{background:#e7f0ff;}



table.tab_info_add{width:80%;margin-bottom: 10px;}
table.tab_info_add caption{border-bottom: 1px solid #000000;font-size: 12px;font-weight: bold;line-height: 20px;padding-left: 10px;text-align: left;}
table.tab_info_add caption a{color: #ffffff;float: right;font-size: 12px;margin-right: 10px;}
table.tab_info_add tr td{line-height:23px;padding-left:10px;}

table.tab_info_add_blue { background:#e7f0ff;}
table.tab_info_add_blue caption{background:#e7f0ff;}


.tab_title_box { clear:both; float:left; width:100%; background:#fff; }
.tab_title_box tr th{border-bottom:1px solid #ccdcfe; background:url(../images/style_bg1.jpg) repeat; text-indent:10px; line-height:23px; color:#FFFFFF;}

.tab_title_box_gray{}
.tab_title_box_gray tr {}
.tab_title_box_gray tr th{ border-bottom:1px solid #ccdcfe; background:#eeeeee;}
.tab_title_box_gray tr td {}

/** error element***/
.error{color:#FF3300;}
input.error { border: 1px dotted red;background-color:#FCE8EC;}


/*  **  page turn  ** 　*/
.page_turn{ display:inline-block;}
.page_turn a{ margin:auto 3px; color:#000000;}

.page_turn_blue{color:#3366CC;}
.page_turn_blue a{color:#3366CC;}

/*  form box */
.form_box_base { display:block; border:1px solid #7fbafb; width:100%; background:#ffffff;}
.form_box_base .title{ display:inline-block; width:100%; background:#ccdcfe; height:30px; line-height:30px; font-size:14px; font-weight:bold; text-indent:10px;}

.s_tab_pages{ float:left; width:98%; *width:960px;  margin:0px 10px; margin-top:10px; margin-bottom:-2px;}
.s_tabs{float:left;}
.s_tabs ul{padding:0px; margin:0px;}
.s_tabs ul li{float:left;}

.s_tab_left{ float:left;}
.s_tab_left .tab_icon{ float:left; background:url(../images/y_l_bg.jpg) no-repeat; width:14px; height:25px;}
.s_tab_left .tab_text{float:left; background:url(../images/y_m_bg.jpg) repeat-x;  height:25px; line-height:25px; padding:0px 8px; color:#FFFFFF;}
.s_tab_right{float:left; background:url(../images/y_r_bg.jpg) no-repeat; width:5px; height:25px;}

.y_tab_left{ float:left;}
.y_tab_left .tab_icon{ float:left; background:url(../images/s_l_bg.jpg) no-repeat; width:20px; height:25px;}
.y_tab_left .tab_text{float:left; background:url(../images/s_m_bg.jpg) repeat-x;  height:25px; line-height:25px; padding:0px 8px; color:#333333;}
.y_tab_right{float:left; background:url(../images/s_r_bg.jpg) no-repeat; width:5px; height:25px;}

.click_drop{ width:10px; display:inline-table; position:relative; bottom:4px; margin:0px 2px;}
.click_drop a{margin:1px;}

/* ****  user center  **** */
.user_info_cont{border: 1px solid #c8cfb0; padding: 15px 40px; min-height:510px;  min-width:1000px;}
.user_info_cont:after, .site_info_tab:after,.site_info_detail .title:after,{clear:both; content:""; display:block; }
.user_info_tabbox{ float:left; width:800px;}
.user_info_pic{ float:right; min-width:200px;}
.user_info_pic .wraper{float:right;margin-right:10px;}
.user_info_pic .wraper{ float:right; display:block; width:95px; text-align:center; margin-right:60px;}
.user_info_pic .wraper img,.user_info_pic .wraper .img{ display:inline-block; border:1px #ccc solid; padding:1px; width:95px; height:95px;}
.user_info_pic .wraper span{ color:#619026;}

/* ****  site info  **** */
.site_info_left{ float:left; width:20%; overflow:hidden;}
.site_info_right{float:left; width:80%; overflow:hidden;}
.btn_fix_group{margin:auto; width:100%; text-align:center; }
.note_search{display:block; margin:auto; width:96%; margin-top:10px;}

.site_info_tab{width:99%; margin-bottom:10px; margin-left:10px;}
.site_info_detail{width:99%; border:1px #b0cdfe solid; min-height:300px; margin-left:8px;}
.site_info_detail .title{width:100%; display:inline-block; background:#ccdcfe; border-bottom:1px #b0cdfe solid;}
.site_info_detail .title ul{ padding:10px; margin:0px;}
.site_info_detail .title ul li{ float:left; line-height:23px; width:100%;}


/* site information*/
.msg_box{}
.msg_box .bj{float:right; background:url(../images/confirm100.png) no-repeat; width:100px; line-height:23px; text-align:center; color:#4a701a; }
.msg_box dl{float:left; padding:0px 15px; margin:0px; line-height:23px; width:85%; }
.msg_box dl dt{ background:url(../images/icon_email_close.jpg) no-repeat left; font-weight:bold; padding-left:20px;}
.msg_box dl dd{ text-indent:-15px;}
.msg_box dl dd a{}
.msg_box .title{padding:10px; height:60px; background:#e2e3e4; color:#333333;}
.msg_box .title ul{padding:0px; margin:8px 0px; line-height:23px;}
.msg_box .title ul li{}
.msg_box .content{ padding:10px;}

img.product_img{border:1px solid #CCCCCC;}


/*  kandeng table  */
.kd_table, .kd_table1 {margin:10px auto; background:#e6ebe4; border-spacing:1px; empty-cells:show; border-collapse:separate; width:100%;}
.kd_table1{ float:left; margin-top:-27px;}
.kd_table caption {text-align:left; font-weight:bold; font-size:14px; background:#bacffd; line-height:30px; padding-left:5px;}
.kd_table tr {background:#fff;}
.kd_table td{text-align:left; padding:3px; line-height:23px;}
.kd_table th {background:#cbd0b9; padding:3px; line-height:23px;}

#b_cut{float:left; background:#fefefe; margin-top:50px;}
#b_cut ul{ position:relative; width:100%; height:25px; top:-30px; *top:-39px; margin:0px; padding:0px;}
#b_cut ul li{ float:left; list-style:none; line-height:25px; margin-right:2px; text-align:center;}
#b_cut ul li .kd_cont{height:25px; border:1px solid #c7cdb1; padding:0 10px; border-bottom:none; overflow:hidden;}
#b_cut .updown{ position:relative; float:right;}

#b_cut ul li .color1 .kd_cont{background:#7ca845; color:#fff; }
#b_cut ul li .color2 .kd_cont{background:#f4fafb;}
#b_cut ul li a{display:block; color:#333333; cursor:pointer; text-decoration:none;}
.tab_cont{ position:relative; top:-30px; width:100%; border:1px solid #c7ceaf;}
.kd_box{ margin:15px auto; width:99%; background:url(../images/kd_bg_m.jpg) repeat-x; line-height:32px; border:1px solid #ccc; border-top:0px;}
.kd_box .kd_tit{ background:url(../images/click_down_black.gif) no-repeat left;;  font-size:14px; font-weight:bold; padding-left:15px; margin-left:15px;}

#s_cut {border-top: 1px solid #BBDDE5; margin:auto;  margin-top: 50px;  width: 99.6%;}
#s_cut ul {height:25px; margin:0px 5px; padding: 0; position: relative; top: -27px; width: 100%;}
#s_cut ul li { float: left; line-height: 25px; list-style: none outside none;  text-align: center; font-weight:bold; width: 10%;}
#s_cut a {color: #333333; cursor: pointer; display: block; text-decoration: none;}
#s_cut a.up { background:#fff;  border:1px solid #BBDDE5; border-bottom:1px solid #fff;}
#s_cut a.down { background:#efefef; border:1px solid #BBDDE5;}


input[type="radio"], input[type="checkbox"] { border:0px;}
input[type="radio"]:disabled, input[type="radio"]:disabled:active, input[type="radio"]:disabled:hover, input[type="radio"]:disabled:hover:active, input[type="checkbox"]:disabled, input[type="checkbox"]:disabled:active, input[type="checkbox"]:disabled:hover, input[type="checkbox"]:disabled:hover:active {}

.tooltips{position:relative;}
.tooltips_msg{padding:6px; position:absolute; text-align:left; width:250px; border:1px solid #7eabcd; background-color:#f8f8f8;}

.tooltips_left .tooltips_msg{left:-275px; margin-top:16px; top:-30px; top:-40px\9;}
.tooltips_left .tooltips_msg .pointer{background: url("../images/remark_icon.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 11px; margin-right:-10px; position: absolute;right: 0;top: 15px;width: 10px;}

.tooltips_right .tooltips_msg{left:28px; margin-top:16px; top:-30px; top:-40px\9;}
.tooltips_right .tooltips_msg .pointer{ background:url("../images/remark_icon_left.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 11px; margin-right:-10px; position: absolute;right:272px; top: 15px;width: 10px;}

.tooltips_up .tooltips_msg{left:-233px; margin-top:16px; top:-83px; top:-40px\9;}
.tooltips_up .tooltips_msg .pointer{ background:url("../images/remark_icon_down.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 10px; margin-right:-10px; position:absolute; right:26px; top:54px;width: 11px;}

.tooltips_down .tooltips_msg{left:-233px; margin-top:16px; top:12px; top:-40px\9;}
.tooltips_down .tooltips_msg .pointer{ background:url("../images/remark_icon_up.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 10px; margin-right:-10px; position:absolute; right:26px; top:-10px;width: 11px;}
.tooltips_help i.tooltip{background:url(../images/help_remark.png) no-repeat; width:16px; height:16px; display: inline-block; vertical-align: middle;}

.dialog_main{padding:5px;}

#load-div{background:url(../images/loading.gif) no-repeat;width:16px;height:16px;display:inline-block;text-indent:-9999px;vertical-align:middle;margin-left:10px;}

.action a{text-decoration:none;color:#5fa207;}
.action a:hover{text-decoration:underline;color:#5fa207;}

.popwinbottom{width:100%;position:fixed;text-align:right; bottom:0;background:#f0f0f0;padding-top:5px;padding-right:8px;height:40px;}

td.newtab{cursor:pointer;}
